version: '3.8'

services:
  registry:
    container_name: mi-registry
    image: registry:2
    restart: always
    ports:
      - "5000:5000"
    # Definición de volúmenes persistentes
    volumes:
      - registry_data:/var/lib/registry
      
volumes:
  registry_data:
    driver: local
